.nav-bar-container {
  border: 1px red dashed;
  display: block;
  width: 20%;
  height: 99vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-links-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  border: 1px blue dashed;
}

.logo-container {
  margin-bottom: 10vh;
  border: 1px red dashed;
}

.social-logos {
  margin-top: 30vh;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hamburger-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger-container {
    display: block;
  }

  .show {
    display: none;
  }

  .show {
    display: none;
  }

}
