:root {
  --light-grey: #d1d3d4;
  --darker-grey: #9b9b9b;
  --white: #fff;
  --green: #97bf11;
  --reserve-form-background: url("https://raw.githubusercontent.com/Shubh-Dev/dream-rent/27e26f8dba321e38a0da6f9bb261146edc87ba09/public/loginbgimg.jpg");
}

.sidebar-container {
  display: none;
}

.App {
  min-height: 100vh;
}

.hamburger {
  padding: 10px;
  position: absolute;
}

.bottom-border {
  width: 150px;
  border-bottom: 3px dotted var(--light-grey);
}

.lgrey-text {
  color: var(--light-grey);
}

.dgrey-text {
  color: var(--darker-grey);
}

.house-container {
  padding: 0 5%;
  min-height: 80vh;
}

.house-icons * {
  border: 3px solid var(--light-grey);
  border-radius: 50%;
  padding: 5px;
}

.homepage-house-img {
  border-radius: 20%;
}

.main-list {
  flex-direction: column;
}

.pre-next-buttons > .btn {
  display: none;
}

/* Desktop Version */

@media (min-width: 768px) {
  .App {
    overflow: hidden;
  }

  .main-container {
    margin-left: 20%;
  }

  .hamburger {
    display: none;
  }

  .sidebar-container {
    display: block;
  }

  .main-list {
    width: 100%;
    flex-direction: row;
    margin: 0 30px;
    padding: 0 20px;
    gap: 0 30px;
    overflow-x: scroll;
  }

  .house-description {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
  }

  .homepage-main-titles {
    padding-top: 50px;
  }

  .house-container {
    width: 30%;
    height: 40%;
    min-height: 60vh;
  }

  .pre-next-buttons > .btn {
    display: block;
    background-color: var(--green);
    position: absolute;
    bottom: 50%;
    border-radius: 0;
  }

  .btn.btn-prev {
    left: 20%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .btn.btn-next {
    color: var(--white);
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}
